{% extends "base.html" %}
{% load md5 micawber_tags %}

{% block title %}Home{% endblock title %}

{% block og %}
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="" />
{% endblock %}

{% block header_loader %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
{% endblock header_loader %}

{% block main_classes %}
class="notop homepage"
{% endblock %}
{% block content %}



            <h1 class="centered light">
                Collaborate with astronauts to tackle space travel's most intriguing health problems.
            </h1>
            <h3 class="centered light">
                Join us on February 7th - 9th and dive in with experienced engineers, programmers, designers and scientists.
            </h3>

            <div class="centered apply-scholarship">
                <a role="button" href="http://missiontomarshealth.com/student-scholarships/" class="button large">
                    Apply for Student Weekend Pass
                </a>
            </div>
        </div>
        <div class="five columns offset-by-one">
            <a href="http://www.enventure.org"><img src="/static/images/spacehealth/en.png" class="img-responsive"></a>
        </div>
        <div class="five columns left">
            <a href="http://www.health20houston.com"><img src="/static/images/spacehealth/h20.jpg" class="img-responsive"></a>





<!--


{% for i in locations %}
<div id="{{ i.slug }}Modal" class="reveal-modal streaming-modal large">
    <div class="loading">
    <i class="icon-spinner icon-spin"></i>Loading...
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
{% endfor %} -->

{% endblock content %}

{% block js %}
<script src="/static/javascripts/foundation/jquery.foundation.reveal.js"></script>
<script src="/static/javascripts/foundation/jquery.foundation.orbit.js"></script>
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x6' });
   });
</script>
{% comment %}
<script>
projects = [{% for i in peoples_choice %}{% if i.video %}{% if i.short_description %}{% if i.hashtag %}'{{ i.slug }}',{% endif %}{% endif %}{% endif %}{% endfor %}];
project_iteration = 0;
number_of_projects = {{ peoples_choice|length }};

function voteboxAdjust() {
    project_height = $('#vote_project').height();
    current_roulette_min_height = $('#vote_roulette').height();
    window_width = $(window).width();
    if (window_width < 770) {
        $('div#vote_roulette').css({"min-height": project_height + 75, "background-color": "#000000"});
        $('#content').css({"top": project_height + 100, "position": "absolute"});
    }
    else if (window_width > 770) {
        $('div#vote_roulette').css({"min-height": "", "background-color": ""});
        $('#content').css({"top": "", "position": ""});
    }
}

$(document).ready(function() {
        $('#vote_project').load('/project/'+ projects[project_iteration] +'/votebox', function() {
            voteboxAdjust();
        });
});

$(window).resize(function() {
    voteboxAdjust();
});

$("#vote_roulette").on("click", 'a#next_project', function(event){
        $('#vote_project').load('/project/'+ projects[project_iteration++] +'/votebox');
});
$("#vote_roulette span.close").click(function() {
    $('#vote_roulette').hide();
});
</script>
{% endcomment %}
<script>
// var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/sat/{z}/{x}/{y}.jpg';
//              var subDomains = ['otile1','otile2','otile3','otile4'];
//              var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 11, subdomains: subDomains});

//              var center = new L.LatLng(-2.10, 13);


//              var $window = $(window);
//                  function checkWidth() {
//                      var windowsize = $window.width();
//                      zoom = 0;
//                      if (windowsize > 480) {
//                          zoom = 2;
//                      }
//                      if (windowsize < 480) {
//                          zoom = 1;
//                      }
//                      return zoom;
//                  }
//                  // Execute on load
//                  checkWidth();

//              var map = new L.Map('map', {center: center, zoomControl: false, zoom: [zoom], layers : [cloudmade]});
//              map.dragging.disable();
//              map.touchZoom.disable();
//              map.doubleClickZoom.disable();
//              map.scrollWheelZoom.disable();
//              map.boxZoom.disable();
//              map.keyboard.disable();
//              map.attributionControl.setPrefix('');

//              var venueIcon = L.divIcon({className: 'venue-location-drop'});
//                  {% for i in locations %}
//                  {% if i.name != "Virtual Participation" %}
//                  var lat{{ i.city|md5 }}icon = L.divIcon({className: 'venue-location-drop lat{{ i.city|md5 }}'});
//                  var lat{{ i.city|md5 }} = L.marker([{{ i.lat }}, {{ i.lon }}], {icon: lat{{ i.city|md5 }}icon}).addTo(map);
//                  $(lat{{i.city|md5}}).hover(
//                      function () {
//                          $("div.lat{{ i.city|md5 }}").html("{{ i.city }}").addClass("ontop");
//                      },
//                      function () {
//                          $("div.lat{{ i.city|md5 }}").html("").removeClass("ontop");
//                      }
//                  );
//                  $(lat{{ i.city|md5 }}).click(function() {
//                      window.location = '/location/{{ i.slug }}';
//                  });
//                  {% endif %}
//                  {% endfor %}

//              var iss
//                  , timeElapsed = 0;

//             function update_position() {
//                 elapsedTime = new Date().getMilliseconds();

//                 $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data) {
//                     var latitude = data["data"]["iss_position"]["latitude"];
//                     var longitude = data["data"]["iss_position"]["longitude"];

//                     elapsedTime = new Date().getMilliseconds() - elapsedTime;

//                     var issIcon = L.icon({
//                         iconUrl: '/static/images/spacestation_icon.png',

//                         iconSize:     [105, 74], // size of the icon
//                         iconAnchor:   [50, 37], // point of the icon which will correspond to marker's location
//                         popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
//                     });

//                     if (!iss) {
//                         iss = L.marker([latitude,longitude], {icon: issIcon}).addTo(map);
//                     }
//                     iss.setLatLng([latitude,longitude]).update();
//                     setTimeout(update_position, 1000 - elapsedTime);
//                 });
//             }

//             update_position();
</script>

     {% comment %}
    <script type="text/javascript">
      function goFullscreen(id) {
        // Get the element that we want to take into fullscreen mode
        var element = document.getElementById(id);

        // These function will not exist in the browsers that don't support fullscreen mode yet, 
        // so we'll have to check to see if they're available before calling them.

        if (element.mozRequestFullScreen) {
          // This is how to go into fullscren mode in Firefox
          // Note the "moz" prefix, which is short for Mozilla.
          element.mozRequestFullScreen();
        } else if (element.webkitRequestFullScreen) {
          // This is how to go into fullscreen mode in Chrome and Safari
          // Both of those browsers are based on the Webkit project, hence the same prefix.
          element.webkitRequestFullScreen();
       }
       // Hooray, now we're in fullscreen mode!
      }
    </script>
    {% endcomment %}
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{% endblock js %}
