{% extends "account/base.html" %}
{% block title %}Registration Full!{% endblock title %}
{% block header %}
<header id="page_header" class="nobanner row">
	<div class="twelve columns">
		<h2>Oh no!</h2>
	</div>
</header>
{% endblock %}

{% block content %}

<div id="content" class="row">
	
	<div class="twelve columns">
		It appears the location you are attempting to register for is a popular place! The event is either full or the organizer has opted to close registrations temporarily. Have you considered checking out another <a href="/locations">location</a> or participating <a href="/location/virtual">virtually</a>?


</div>
</div>
    

{% endblock %}
