{% extends "base.html" %}

{% block content %}
<div id="content" class="row">
	
	<div class="twelve columns">
		<h3>Your Attendees</h3>
		{% if attendees %}
		<table class="twelve">
		  <thead>
		    <tr>
				<th>#</th>
		      <th>First Name</th>
		      <th>Last Name</th>
		      <th>Email Address</th>
		      <th>Residency</th>
			  <th>Background</th>
		    </tr>
		  </thead>
		  <tbody>
			  {% for i in attendees %}
			  <tr>
				  <td class="count"><span>{{ forloop.counter }}</span></td>
				  <td>{{ i.user.first_name }}</td>
				  <td>{{ i.user.last_name }}</td>
				  <td><a href="mailto:{{ i.user.email }}">{{ i.user.email }}</a></td>
				  <td>{% if i.user.get_profile.city %}{{ i.user.get_profile.city }}{% endif %}{% if i.user.get_profile.state %}{% if i.user.get_profile.city %}, {% endif %}{{ i.user.get_profile.state }}{% endif %}{% if i.user.get_profile.country %}, {{ i.user.get_profile.country }}{% endif %}</td>
				  <td>{% for background in i.user.get_profile.background.all %}
					  {{ background }}
					  {% endfor %}
				  </td>
			  </tr>
			  {% endfor %}
		  </tbody>
		</table>
		{% else %}
		<p>Sorry, there are no attendees registered for your venue!</p>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
  var numReg = $("td.count:last").text();
  $('h3').after('<p id="numReg">You have ' + numReg + ' participants registered.</p>');
});
</script>
{% endblock js %}


{% comment %}
{% if i.check_in %}
User checked in
{% else %}
User not checked in
{% endif %}
{% endcomment %}